RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule sprite/(?:(\d+)/)?([a-z\-_0-9]+)\.(jpe?g|gif|png|css|less) index.php?size=$1&sprite=$2&format=$3 [L,QSA]